@model MVCApplication.Controllers.Test.EmployeeViewModel


    <div>
        <h4>EmployeeViewModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.EditorFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IsVisible)
            </dt>
    
            <dd>
                @Html.EditorFor(model => model.IsVisible)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Id)
            </dt>

            <dd>
                @Html.EditorFor(model => model.Id)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

